* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  
}

:root {
  
  /* Backgrounds */
  --bg-main: #0B0F1A;
  --bg-card: #121826;
  --bg-card-secondary: #1A2235;
  
  /* Accent */
  --accent: #A855F7;
  --accent-light: #C084FC;
  
  /* Subject Colors */
  --physics: #22C55E;
  --programming: #F59E0B;
  --maths: #A855F7;
  --chemistry: #3B82F6;
  --biology: #84CC16;
  --history: #EAB308;
  
  /* Text */
  --text-main: #F3F4F6;
  --text-secondary: #9CA3AF;
  
  /* Borders */
  --border: #2A3147;
  
  /* XP */
  --xp-gradient:
    linear-gradient(to right,
      #A855F7,
      #C084FC);
  
}

body {
  min-height: 100vh;
  background-color: black;
  padding: 10px;
  color: var(--text-main);
}



/* ---------- APP ---------- */

#app {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
  width: 100%;
  max-width: none;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.8vh;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: auto;
  max-height: 75vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid grey;
  color: #fff;
  padding: 1vh;
  z-index: 1000;
  display: none;
}

.notification-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 4vh;
}

.notification-header-close-button-box {
  border: 1px solid var(--border);
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-popup-header {
  z-index: 10;
  
}

.information-popup {
  display: none;
}

.notification-content {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

/*popup elements common*/
.popup-input {
  width: 80%;
  background-color: black;
  color: var(--text-main);
  padding: 1vw 1vh;
  border: 1px solid var(--border);
  border-radius: 15px;
  outline: none;
}

.popup-input::placeholder {
  color: var(--text-secondary);
}

.popup-notification-prompt-header {
  padding: 1vw 1vh;
}

select {
  padding: none;
}

.popup-selector {
  width: 80%;
  background-color: black;
  color: var(--text-main);
  padding: 1vw 1vh;
  padding-right: 10vh;
  border: 1px solid var(--border);
  border-radius: 15px;
  outline: none;
}

.popup-checkbox-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding: 1vw 1vh;
  border: 1px solid var(--border);
  border-radius: 15px;
}

/* webkit sett req
.popup-checkbox {
  border-radius: 50%;
  color: var(--accent);
}
*/
/*.popup-notification-text

.popup-button*/


/* ---------- COMMON ---------- */
.main-card {
  height: auto;
  padding: 1vh 2vw;
  
}

.main-card,
.card {
  border: 1px solid var(--border);
  border-radius: 15px;
  background: var(--bg-card);
}

button {
  background-color: transparent;
  border: none;
}


/* ---------- TOP NAV ---------- */

.upper-nav-section {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  height: 10vh;
}



/* ---------- USER INFO ---------- */

.user-info-box {
  display: flex;
  align-items: center;
  gap: 10px;
}



.user-pfp-box {
  width: 8vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--accent);
  overflow: hidden;
  flex-shrink: 0;
}



.user-pfp {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.user-details {
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  gap: 4px;
}



.user-details> :first-child {
  font-size: 1rem;
}



.user-details> :nth-child(2) {
  font-size: 0.75rem;
}



/* ---------- STREAK ---------- */

.streak-info {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 2px;
  height: 80%;
  min-width: 90px;
}

.streak-progress-icon {
  color: #30AEFF;
}

.streak-info> :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 1.2rem;
}



.streak-info> :nth-child(2) {
  font-size: 0.75rem;
}



/* ---------- TIMER SECTION ---------- */

.timer-section {
  
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  
  padding: 15px;
}



/* ---------- MODE SELECTOR ---------- */

.focus-type-selector-box {
  display: flex;
  align-items: center;
  width: fit-content;
  align-self: center;
  overflow: hidden;
  border: 1px solid var(--border);
  background: var(--bg-card-secondary);
  border-radius: 999px;
}



.focus-mode-option {
  
  padding: 10px 18px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 0.75rem;
}



.active {
  background: var(--accent);
  color: var(--text-main);
}



/* ---------- TIMER ---------- */

.timer-box {
  
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}



.circle {
  aspect-ratio: 1/1;
  border-radius: 50%;
}



/* OUTER RING */

.timer-background-circle {
  width: min(65vw, 280px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent);
  padding: 10px;
}



/* INNER CIRCLE */

.timer-front-circle {
  width: 100%;
  background: var(--bg-card);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* TIMER CONTENT */

.timer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 10px;
}



.timer {
  font-size: clamp(2rem, 8vw, 3.5rem);
}



/* DIVIDER */

.timer-divider {
  width: 40%;
  height: 2px;
  border-radius: 999px;
  background: linear-gradient(to right,
      transparent,
      var(--accent),
      transparent);
}



/* LABEL */

.timer-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
}



/* ---------- BUTTONS ---------- */

.timer-control-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.timer-control-panel button {
  border: 1px solid var(--border);
  background: var(--accent);
  padding: 6px 8px;
  border-radius: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  overflow: hidden;
  font-size: 2.6vh;
  
}

.timer-start-button {
  min-width: 120px;
}

.subject-section-header {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 8px;
  
}

.subject-section-header button {
  height: 100%;
  width: 20%;
  color: var(--text-secondary);
}

.subject-box {
  width: 100%;
  height: 16vh;
  display: grid;
  grid-template-columns:
    repeat(2, 1fr);
  gap: 2vw;
  padding: 0 1vw 18vh 1vw;
}

.subject-card {
  height: 8vh;
  border: 1px solid var(--border);
  background: var(--bg-card-secondary);
  display: flex;
  align-items: center;
  gap: 2vw;
  width: 100%;
  justify-self: center;
  border-radius: 15px;
  padding-left: 5%;
}

.subject-icon-box {
  height: 5vh;
  font-size: 1.3rem;
  background: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-text-detail {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  height: 5vh;
}

.subject-name-box {
  font-size: 0.8rem;
}

.subject-time-displayer {
  font-size: 0.6rem;
  color: var(--text-secondary);
}

.subject-card:nth-child(1) .subject-icon {
  color: var(--physics);
}

.subject-card:nth-child(2) .subject-icon {
  color: var(--programming);
}

.subject-card:nth-child(3) .subject-icon {
  color: var(--maths);
}

.subject-card:nth-child(4) .subject-icon {
  color: var(--text-secondary);
}

/* study goal */
.study-goal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-goal-header {
  width: 100%;
  height: auto;
  padding: 0.5vh 0.75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
}

.study-goal-header :first-child {
  font-size: 0.9rem;
}

.study-goal-header :last-child {
  color: var(--text-secondary);
}

.study-goal-bar {
  width: 80%;
  height: 2vh;
  background: #2A3147;
  border-radius: 999px;
  overflow: hidden;
  margin: 0.75vh 0 1vh 0;
  background: var(--bg-card-secondary);
  border: 2px solid var(--border);
}

.study-goal-progress {
  width: 70%;
  height: 100%;
  background: var(--xp-gradient);
}

.user-xp-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.xp-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.xp-info-header {
  padding: 1vw 3vw;
  width: 100%;
}

.xp-info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1vw;
  width: 80%;
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.user-xp-bar {
  width: 80%;
  height: 2vh;
  border-radius: 999px;
  overflow: hidden;
  margin: 0.75vh 0 1vh 0;
  background: var(--bg-card-secondary);
  border: 2px solid var(--border);
}

.user-xp-progress {
  width: 70%;
  height: 100%;
  background: var(--xp-gradient);
}

.information-panel {
  margin-bottom: 7.5vh;
}

.information-panel-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  justify-self: center;
  height: auto;
  width: 100%;
  
}

.information-panel-box :last-child {
  border-right: none;
}

.information-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid var(--border);
  width: 30%;
  height: 100%;
}

.info-icon {
  font-size: 2rem;
}

.info-count {
  font-size: 0.9rem;
}

.info-text {
  font-size: 0.75rem;
  color: var(--text-secondary);
}

.lower-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1vh 1vw;
  background: var(--bg-card);
  border-top: 1px solid var(--border);
}

.lower-nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding: 1vw 3vw;
  box-sizing: border-box;
}

.navigation-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25vh;
  transition: .25s ease;
}

.navigation-card-icon {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.navigation-card-title {
  font-size: .8rem;
  color: var(--text-secondary);
}

.active-page * {
  color: var(--accent);
  
}

.navigation-card-icon,
.navigation-card-title {
  transition: transform .25s ease, color .25s ease;
}

.active-page .navigation-card-icon,
.active-page .navigation-card-title {
  transform: translateY(-4px);
}








/*.navigation-card.active::before{
    content: "";
    position: absolute;
    top: -8px;
    width: 26px;
    height: 3px;
    border-radius: 999px;
    background: var(--accent);
}


/* ---------- pre defined bhoooo
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
space-between
space-around
space-evenly

border: 1px solid yellow;


fire color
#FF7100
#CD2525
#5D2A09
---------- */